<p-panel header="Profesores" [style]="{'width':'100%', 'height':'100%', 'margin-bottom':'20px'}">
    <div>
        <p-tabView>
            <p-tabPanel header="Listado de Profesores">
                <div>
                    <p-table #tblProfesores
                        [globalFilterFields]="['nombre']"
                        [columns]="colsProfesor" 
                        [value]="arrProfesores" 
                        dataKey="_id" 
                        selectionMode="single" 
                        [(selection)]="selectedProfesor"
                        (onRowSelect)="onRowSelectProfesor($event)"
                        [paginator]="false" 
                        [rows]="5"
                        [totalRecords]="totalRecords"
                        [responsive]="true"
                        [metaKeySelection]="false">
                        <ng-template pTemplate="caption">
                            <div style="text-align: right">        
                                <input type="text" pInputText size="50" placeholder="Busqueda" (input)="search($event)" style="width:100%">
                            </div>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pSelectableRow]="rowData" >  
                                <td *ngFor="let col of columns">
                                    <b>{{rowData[col.field]}}</b>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Nuevo Profesor">
                <div>
                    <app-crear-profesores></app-crear-profesores>
                </div>
            </p-tabPanel>
        </p-tabView>     
    </div>      
</p-panel>
