<div>
    <p-tabView>
        <p-tabPanel header="Listado de Clases">
            <p-panel header="Clases" [style]="{'width':'100%', 'height':'100%', 'margin-bottom':'20px'}">
                <div>
                    <p-table #tblClases
                        [globalFilterFields]="['nombre']"
                        [columns]="colsClase" 
                        [value]="arrClases" 
                        dataKey="_id" 
                        selectionMode="single" 
                        [(selection)]="selectedClase"
                        [paginator]="false" 
                        [rows]="5"
                        [totalRecords]="totalRecordsClases"
                        [responsive]="true"
                        [metaKeySelection]="false">
                        <ng-template pTemplate="caption">
                            <div style="text-align: right">        
                                <input type="text" pInputText size="50" placeholder="Busqueda" (input)="search($event)" style="width:100%">
                            </div>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pSelectableRow]="rowData" >  
                                <td *ngFor="let col of columns">
                                    <div class="ui-g-12">
                                        <b>{{rowData.nombre}}</b>
                                    </div>
                                    <div *ngIf="rowData.lunes" class="ui-g-4">
                                        <b>Lunes</b>
                                    </div>
                                    <div *ngIf="rowData.martes" class="ui-g-4">
                                        <b>Martes</b>
                                    </div>
                                    <div *ngIf="rowData.miercoles" class="ui-g-4">
                                        <b>Miércoles</b>
                                    </div>
                                    <div *ngIf="rowData.jueves" class="ui-g-4">
                                        <b>Jueves</b>
                                    </div>
                                    <div *ngIf="rowData.viernes" class="ui-g-4">
                                        <b>Viernes</b>
                                    </div>
                                    <div class="ui-g-12">
                                        <b>{{rowData.hora_inicio}} - {{rowData.hora_fin}}</b>
                                    </div>
                                    <div class="ui-g-12">
                                        <b>Máximo de alumnos:</b> {{rowData.maximo_alumnos}}
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-panel>
        </p-tabPanel>
        <p-tabPanel header="Nueva Clase">
            <div>
                <app-crear-clases></app-crear-clases>
            </div>
        </p-tabPanel>
    </p-tabView>     
</div>
