<div style="margin-top: auto;" class="p-grid">
    <div class="p-col-12 p-md-3">
        <p-dropdown placeholder="Actividades" [options]="actividades" [(ngModel)]="selectedActividades" optionLabel="nombre"></p-dropdown>
    </div>
    <div class="p-col-12 p-md-3">
        <p-dropdown placeholder="Profesores" [options]="profesores" [(ngModel)]="selectedProfesor" optionLabel="nombre"></p-dropdown>
    </div>
    <div class="p-col-12 p-md-3">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-calendar"></i></span>
            <p-calendar #fechaIni placeholder="Fecha de inicio" [(ngModel)]="dateIni" [locale]="es" dateFormat="dd/mm/yy"></p-calendar>         
        </div>
    </div>
    <div class="p-col-12 p-md-3">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-calendar"></i></span>
            <p-calendar #fechaFin placeholder="Fecha de fin" [(ngModel)]="dateFin" [locale]="es" dateFormat="dd/mm/yy"></p-calendar>         
        </div>
    </div>
    <div class="p-col-12 p-md-3">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-cog" style="line-height: 1.25;"></i></span>
            <input type="text" #inpNombre placeholder="Nombre">         
        </div>
    </div>
    <div class="p-col-12 p-md-3">
        <p-checkbox name="group1" [binary]="true" label="On Line" [(ngModel)]="online" inputId="online"></p-checkbox>
    </div>
    <div class="p-col-12 p-md-12">
        <div class="p-col-12 p-md-3">
            <p-checkbox name="group2" [binary]="true" label="Lunes" [(ngModel)]="lunes" inputId="lunes"></p-checkbox>
        </div>
        <div class="p-col-12 p-md-3">
            <p-checkbox name="group2" [binary]="true" label="Martes" [(ngModel)]="martes" inputId="martes"></p-checkbox>
        </div>
        <div class="p-col-12 p-md-3">
            <p-checkbox name="group2" [binary]="true" label="Miércoles" [(ngModel)]="miercoles" inputId="miercoles"></p-checkbox>
        </div>
        <div class="p-col-12 p-md-3">
            <p-checkbox name="group2" [binary]="true" label="Jueves" [(ngModel)]="jueves" inputId="jueves"></p-checkbox>
        </div>
        <div class="p-col-12 p-md-3">
            <p-checkbox name="group2" [binary]="true" label="Viernes" [(ngModel)]="viernes" inputId="viernes"></p-checkbox>
        </div>
        <div class="p-col-12 p-md-3">
            <p-checkbox name="group2" [binary]="true" label="Sabado" [(ngModel)]="sabado" inputId="sabado"></p-checkbox>
        </div>
        <div class="p-col-12 p-md-3">
            <p-checkbox name="group2" [binary]="true" label="Domingo" [(ngModel)]="domingo" inputId="domingo"></p-checkbox>
        </div>
    </div>
    <div class="p-col-12 p-md-6">
        <p-calendar [(ngModel)]="timeIni" [timeOnly]="true"></p-calendar>
    </div>
    <div class="p-col-12 p-md-6">
        <p-calendar [(ngModel)]="timeFin" [timeOnly]="true"></p-calendar>
    </div>
    <div class="p-col-12 p-md-3">
        <p-spinner [(ngModel)]="max_alumnos" [min]="0" [max]="100" placeholder="Máximo de Alumnos"></p-spinner>
    </div>
    <div class="p-col-12 p-md-3">
        <p-spinner [(ngModel)]="max_alumnos_online" [min]="0" [max]="100" placeholder="Máximo de Alumnos On Line"></p-spinner>
    </div>
    <div class="p-col-12 p-md-4">
        <div class="ui-inputgroup">
            <p-button label="Guardar" (click)="handleClick()"></p-button>      
        </div>
    </div>
</div>
